html, body
{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: Black;
	color: White;
}
body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

a
{
	color: White;
}
a.visited
{
	color: White;
}

h1
{
	padding-top: 50px;
}

#silverlightControlHost
{
	height: 250px;
}
#impressum
{
	position: absolute;
	bottom: 25px;
	right: 25px;
	text-align: center;
}
