.group span
{
	padding:10px 0px 2px 0px;
	color:#666666;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
} 
.group img
{
	cursor:pointer;
}
div.order
{
	margin-left: 20px;
	margin-right: 20px;
	display:none;
}